
*,*::before, *::after {
    box-sizing: border-box;
}


:root{
    --main-color: #3A5063;
    --sec-color: #342E37;
    --acc-color:  #A9B2BA; 
    --white-color:#f8fafc;
}

body{
    margin:0;
    background-color: var(--white-color);
    color: var(--sec-color);
    font-family: 'Kodchasan', sans-serif;
}

aside::-webkit-scrollbar{
    display: none;
}

.title-font{
    font-family: 'KoHo', sans-serif;
    font-weight: 600;
}

.main-text{
    color: var(--main-color);
}
.sec-text{
    color: var(--sec-color);
}
.acc-text{
    color: var(--acc-color);
}

.white-text{
    color: var(--white-color);
}
.main-bg{
    background-color: var(--main-color);
}
.sec-bg{
    background-color: var(--sec-color);
}
.acc-bg{
    background-color: var(--acc-color);
}
.white-bg{
    background-color: var(--white-color);
}
.main-border{
    border: 1px solid var(--main-color);
}
.sec-border{
    border: 1px solid var(--sec-color);
}
.acc-border{
    border: 1px solid var(--acc-color);
}
.white-border{
    border: 1px solid var(--white-color);
}

.placeholder-custom-search::placeholder{
    color: var(--acc-color);
}

.btn-custom-search{
    top:0;
    right:0;
}

.btn-gear-custom{
    position: fixed;
    top: 0.5rem;
    left:0;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    z-index:2;
    opacity: 0.5;
}

.sidebar-custom{
    z-index:3;
}

.next-match-header-custom{
    transform: translateY(-2rem);
    transition: 0.4s ease-in-out;
    background: linear-gradient(to top,rgba(255, 255, 255,0.2), transparent, rgba(255, 255, 255,0.2));
}

.next-match-header-custom:hover{
    transform: translateY(-3rem);
}

.standing-header-custom{
    transform: translateY(-0.5rem);
    transition: 0.4s ease-in-out;
    background: linear-gradient(to top,rgba(255, 255, 255,0.2), transparent, rgba(255, 255, 255,0.2));
}

.standing-header-custom:hover{
    transform: translateY(-1.5rem);
}

/* Chrome, Safari, Edge, Opera */
.result-input::-webkit-outer-spin-button,
.result-input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
.result-input[type=number] {
-moz-appearance: textfield;
}

.drop-own-position {
    top: 2.9em;
}

.player-selection:hover{
    background-color: #A9B2BA;
}

.first-place{
    background-color: gold;
}
.second-place{
 background-color: silver;
}
.third-place{
    background-color: brown;
}
.fourth-place{
    background-color: greenyellow;
}
.seventh-place{
    background-color: aqua;
}

@media screen and (max-height: 568px){
    .container-homepage-custom{
        min-height: 500px;
    }
}
@media screen and (max-width: 813px){
    .custom-position{
        position: absolute;
        top: 0;
        left:0;
    }
}
@media screen and (min-width: 375px){
    .custom-position{
        width:60%;
    }
}
@media screen and (min-width: 768px){
    .custom-position{
        width:40%;
    }
    .custom-bet.form{
        padding-left: 0;
        padding-right: 0;
    }

}
@media screen and (min-width: 813px){
    .custom-position{
        width:30%;
    }
}
@media screen and (min-width: 990px){
    .home-page-position{
        padding-left: 4rem;
    }
}